page-results {
    ion-title{
        text-align: center;
    }
    ion-content, .scroll-content{
        padding: 16px 0 !important;
    }
    .toolbar-background{
        background-color: #489BE7;
        color: white !important;
    }
    .toolbar-title{
        color: white !important;
    }
    .back-button{
        color: white;
    }

    .result-container{
        padding: 15px 20px;
        background-color: #489BE7;
    }

    .result-container *{
        color: white !important;
    }

    .img-container{
        width: 100%;
        height: 275px;
        overflow: hidden;
    }

    .img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title p{
        color: white;
        font-size: 21px;
        text-align: center;
    }

    .title{
        color: #489BE7;
        text-align: center;
    }
    .desc{
        color: #489BE7;
        padding: 10px 25px;
        text-align: center;
        font-size: 18px;
    }
}
